section {
    display: block;
    }



div {
    border: 2px solid rgb(70, 66, 66);
    margin-bottom: 1px;
    padding: 20px;
}

.UniformMargin {
    margin: 40px;
}

.NonUniformPadding {
    margin: 10px 30px 20px 40px;
    /* Увеличаване на долния margin */
}

.NegativeMargin {
    margin: -10px;
}