.article_blog {
    color: #292828;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Центриране с отстояния по 20px от всяка страна */
    padding: 20px; /* Отстояние вътре в article */
    max-width: 800px; /* Ограничаване на ширината, за да се побира добре на екрана */
    border: 1px solid #ddd; /* Бордер с леко сиво */
    border-radius: 5px; /* Заобляне на ъглите за по-мек вид */
}

h1, h4 {
    font-weight: bold; /* Подчертаване на заглавията */
    margin: 0px 15px 15px 0px ;
}
h2 {
    font-weight: bold; /* Подчертаване на заглавията */
    margin: 30px 15px 15px 0px ;
}

p {
    line-height: 1.6; /* Увеличаване на разстоянието между редовете за по-добра четливост */
    margin-bottom: 20px; /* Отстояние под параграфите */
    font-size:85%;
    font-weight:550;

}

footer {
    font-size: 85%;
    font-style: italic;
    color: #292828; /* Малко по-светъл цвят на текста във footer */
    font-weight: 500;
    
}

.cite-autor {
    font-weight: bold;
    font-style: normal; /* Запази нормален стил на автора */
}
