.css-class-model{
    width: 50vw;    /*  */
    margin: 50px auto;
}

.css-class-model div{
    border: 1px dashed #666;
    margin: 10px 30px 30px 30px;
    
}

.css-class-model div:before{
    font-size: 20px;
    padding-left: 20px;
    display: block;
}
.css-class-model .margin{
    background-color: rgb(255, 150, 111);
    font-weight: 400;    
}


.css-class-model .margin:before{
    content: 'margin';
    
}

.css-class-model .border{
    background-color: rgb(255,232,198);
}
.css-class-model .border::before{
    content: 'border';
    
}
.css-class-model .padding{
    background-color: rgb(133,235,133);
}
.css-class-model .padding:before{
    content: 'padding';
    
}
.css-class-model .content{
    background-color: rgb(163,210,226);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;

}

