.acordion-container{
    width: 70%;
    margin:30px auto;
    font-family: "Lato", sans-serif;
}

.acordion-container details{
    border: 1px solid gray;
    padding: 20px;
    border-bottom: 0px;  
}

.acordion-container details:last-child {
    border-bottom: 1px solid gray;
}


.acordion-container details summary{
    font-weight:700;
    cursor: pointer;

}
